<h3>Satellite Counts:</h3>
<div class="counts">
   <div>Total: <span>{{ satellites.length }}</span></div>
   <div>Space Debris: <span>{{ getNumberByType("Space Debris") }}</span></div>
   <div>Communication: <span>{{ getNumberByType("Communication") }}</span></div>
   <div>Probe: <span>{{ getNumberByType("Probe") }}</span></div>
   <div>Positioning: <span>{{ getNumberByType("Positioning") }}</span></div>
   <div>Space Station: <span>{{ getNumberByType("Space Station") }}</span></div>
   <div>Telescope: <span>{{ getNumberByType("Telescope") }}</span></div>
</div>